button {
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
}

.Kalkulacka {
    text-align:center;
    padding-top: 270px;
    height: 330px;
    background-image: url("https://wallpapercave.com/wp/wp3185884.jpg");
}

.Vysledek {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

input {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 30px;
    margin-bottom: 15px;
}

